name: Build coop

on:
    workflow_dispatch:
    push:
        branches: [ dev ]

jobs:
    build-linux-headless:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install -y build-essential git python3 libglew-dev libsdl2-dev libz-dev libcurl4-openssl-dev zip

            - name: Build the game
              run: make HEADLESS=1

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file hash_file.cpp
                echo "::notice ::$(./hash_file ../build/us_pc/sm64coopdx)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_Linux.zip dynos lang mods palettes libdiscord_game_sdk.so sm64coopdx

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-linux
                path: ./build/us_pc/sm64coopdx_Linux_Headless.zip

    build-windows-headless:
        if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, '[build]') }}
        runs-on: windows-latest
        defaults:
            run:
                shell: msys2 {0}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: mingw64
                update: true
                install: >
                    unzip
                    make
                    git
                    mingw-w64-i686-gcc
                    mingw-w64-x86_64-gcc
                    mingw-w64-i686-glew
                    mingw-w64-x86_64-glew
                    mingw-w64-i686-SDL2
                    mingw-w64-i686-SDL
                    mingw-w64-x86_64-SDL2
                    mingw-w64-x86_64-SDL
                    python3
                    zip

            - name: Build the game
              run: make HEADLESS=1

            - name: Generate hash
              run: |
                cd tools
                g++ -std=c++17 -o hash_file.exe hash_file.cpp
                echo "::notice ::$(./hash_file.exe ../build/us_pc/sm64coopdx.exe)"
            
            - name: Zip the game
              run: |
                cd ./build/us_pc
                zip -r sm64coopdx_Windows_DirectX.zip dynos lang mods palettes coop.map discord_game_sdk.dll sm64coopdx.exe

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sm64coopdx-windows-directx
                path: ./build/us_pc/sm64coopdx_Windows_Headless.zip
